<!DOCTYPE html>
<html lang="en">
  <!--
    Tambourine Cheese Cat Rhino :: Emma Buller, Christopher Liu, Tami Takada, Owen Yaggy
    SoftDev pd0
    P02 -- Interactive Map of Stuy
    2022-03-22

    Login Page
  -->

{% extends "base.html" %}
{% block content %}
  <div class="container-xxl my-4 bd-layout">
    <form>
      <div class="input-group mb-3">
    <span class="input-group-text" id="user">Username</span>
    <input type="text" class="form-control" placeholder="Username" id="username">
    </div>
    <div class="input-group mb-3">
    <span class="input-group-text" id="pass">Password</span>
    <input type="text" class="form-control" placeholder="Password" id="password">
    </div>
    <button type="submit" class="btn btn-primary" id="admin">Submit</button>
    </form>
  </div>
{% endblock %}
