<!DOCTYPE html>
<html lang="en">
  <!--
    Tambourine Cheese Cat Rhino :: Emma Buller, Christopher Liu, Tami Takada, Owen Yaggy
    SoftDev pd0
    P02 -- Interactive Map of Stuy
    2022-03-22

    This is where the maps will be
  -->

  {% extends "base.html" %}
  {% block title %}View Maps{% endblock %}
  {% block content %}
  <br>
  <h1>Click to place vertexes, press left shift to draw polygon</h1>

  <div class="container-xxl my-4 bd-layout">
    <div>
      <canvas height="800" width="1200" id="canvas"></canvas>
    </div>
  </div>

  <button id="buttonClear">wipe</button>

  <script src="{{ url_for('static', filename='js/polygon.js') }}"></script>
{%endblock%}
